*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
}

.container {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.19);
    margin: 0px auto;
    padding: 20px;
    border: 1px solid;
    width: 400px;
}

/* input element styles */
.form-element{
    position: relative;
    height: 51px;
    width: 100%;
}
.form-element input{
    position: absolute;
    bottom: 0;
    height: 55%;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#btn {
    margin-top: 15px;
    margin-left: auto;
}

.label {
    margin-left: auto;
    background-color: black;
    color: white;
}